@model SmallPhotos.Web.Model.Home.IndexViewModel

@await Component.InvokeAsync("Navigation")

<article>
    @if (Model.Photos.Any()) {
        <div>Tagged @Model.WithTag: @Model.ImageDateRange</div>

        @if (Model.Pagination.PageCount > 1) {
            <div class="pagination">
                @if (Model.Pagination.PageNumber > 1) {
                <a title="Go to previous page of photos" href="/tagged/@(Model.WithTag)?pageNumber=@(Model.Pagination.PageNumber - 1)">&laquo;</a>
                }
                @foreach (var pg in Model.Pagination.Pages) {
                @if (pg.IsSelected) {
                <a class="active">@pg.PageNumber</a>
                } else {
                <a title="Go to photo page @pg.PageNumber" href="/tagged/@(Model.WithTag)?pageNumber=@pg.PageNumber">@pg.PageNumber</a>
                }
                @if (pg.IsNextPageSkipped) {
                <a class="skip">&bull;&bull;</a>
                }
                }
                @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
                <a title="Go to the next page of photos" href="/tagged/@(Model.WithTag)?pageNumber=@(Model.Pagination.PageNumber + 1)">&raquo;</a>
                }
            </div>
        }

        <div class="thumbnails">
        @foreach(var photo in Model.Photos) {
            <div>
                <a title="Taken: @photo.DateTaken" href="/gallery/@(photo.PhotoId)/@(photo.Filename)?from=tagged_@(Model.WithTag)" name="@(photo.PhotoId).@(photo.Filename)"><img src="/photo/thumbnail/@(Model.ThumbnailSize)/@(photo.PhotoId)/@(photo.Filename)" width="@(photo.Size.Width)" height="@(photo.Size.Height)" loading="lazy" /></a>
            </div>
        }
        </div>

        <div class="thumbnail-size-toggle" title="Thumbnail size">
            <form method="post" action="/profile/thumbnailsize">
            @Html.AntiForgeryToken()
            <label for="thumbnail-size-selector-s"><input checked="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Small)" type="radio" id="thumbnail-size-selector-s" name="thumbnail-size-selector" value="@((int)SmallPhotos.Model.ThumbnailSize.Small)" onchange="this.form.submit();"> small</label>
            <label for="thumbnail-size-selector-m"><input checked="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Medium)" type="radio" id="thumbnail-size-selector-m" name="thumbnail-size-selector" value="@((int)SmallPhotos.Model.ThumbnailSize.Medium)" onchange="this.form.submit();"> medium</label>
            <label for="thumbnail-size-selector-l"><input checked="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Large)" type="radio" id="thumbnail-size-selector-l" name="thumbnail-size-selector" value="@((int)SmallPhotos.Model.ThumbnailSize.Large)" onchange="this.form.submit();"> large</label>
            </form>
        </div>

        @if (Model.Pagination.PageCount > 1) {
            <div class="pagination">
                @if (Model.Pagination.PageNumber > 1) {
                <a title="Go to previous page of photos" href="/tagged/@(Model.WithTag)?pageNumber=@(Model.Pagination.PageNumber - 1)">&laquo;</a>
                }
                @foreach (var pg in Model.Pagination.Pages) {
                @if (pg.IsSelected) {
                <a class="active">@pg.PageNumber</a>
                } else {
                <a title="Go to photo page @pg.PageNumber" href="/tagged/@(Model.WithTag)?pageNumber=@pg.PageNumber">@pg.PageNumber</a>
                }
                @if (pg.IsNextPageSkipped) {
                <a class="skip">&bull;&bull;</a>
                }
                }
                @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
                <a title="Go to the next page of photos" href="/tagged/@(Model.WithTag)?pageNumber=@(Model.Pagination.PageNumber + 1)">&raquo;</a>
                }
            </div>
        }
    } else {
        <p>
        <text>You have no photos with this tag. View <a href="/">all your photos</a> and add this tag.</text>
        </p>
    }
</article>