@model SmallPhotos.Web.Model.Gallery.IndexViewModel

@section Scripts {
<script type="text/javascript">
    $(function() {
        $(window).on('resize', fullSizeImage);
        fullSizeImage();

        $('[data-photoid]').each(function() {
            let star = $(this);

            star.click(function() {
                let photoId = star.attr('data-photoid');
                let isStarred = @(Model.Photo.IsStarred ? "true" : "false");
                let uri = '/api/photoapi/' + (isStarred ? 'unstar' : 'star') + '/' + photoId;
                $.post(uri, {}, function() {
                    window.location.reload();
                });
            });
        });
    });
</script>
}

@await Component.InvokeAsync("Navigation")

<article>
    <div>
        @if (Model.Photo.IsStarred) {
        <span data-photoid="@Model.Photo.PhotoId" title="Click to unstar this photo" class="star-on"><img src="/images/star.png" width="15" height="15" alt="star" loading="lazy" /></span>
        } else {
        <span data-photoid="@Model.Photo.PhotoId" title="Click to star this photo" class="star-off"><img src="/images/star.png" width="15" height="15" alt="star" loading="lazy" /></span>
        }
        Taken: @Model.Photo.DateTaken
    </div>

    <div class="pagination">
        <a title="Back to photo thumbnails" href="@(Model.FromPage == "starred" ? "/starred" : "/")?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo;<span class="pagination-info"> Thumbnails</span></a>
        @if (Model.PreviousPhoto != null) {
        <a title="Previous page of photos" href="/gallery/@(Model.PreviousPhoto.PhotoId)/@(Model.PreviousPhoto.Filename)@(Model.FromPage == "starred" ? "?from=starred" : "")">&laquo;<span class="pagination-info"> Prev</span> (#@(Model.PreviousPhotoNumber) of @(Model.PhotoCount))</a>
        }
        @if (Model.NextPhoto != null) {
        <a title="Next page of photos" href="/gallery/@(Model.NextPhoto.PhotoId)/@(Model.NextPhoto.Filename)@(Model.FromPage == "starred" ? "?from=starred" : "")"><span class="pagination-info">Next </span>(#@(Model.NextPhotoNumber) of @(Model.PhotoCount)) &raquo;</a>
        }
    </div>

    <p>
        <img id="fullimg" src="/photo/@(Model.Photo.PhotoId)/@(Model.Photo.Filename)" />
    </p>

    <div><input type="checkbox" id="fullimg-scaled" name="fullimg-scaled" checked onchange="fullSizeImage()" /><label for="fullimg-scaled"> scale to window</label></div>

    <div class="pagination">
        <a title="Back to photo thumbnails" href="@(Model.FromPage == "starred" ? "/starred" : "/")?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo;<span class="pagination-info"> Thumbnails</span></a>
        @if (Model.PreviousPhoto != null) {
        <a title="Previous page of photos" href="/gallery/@(Model.PreviousPhoto.PhotoId)/@(Model.PreviousPhoto.Filename)@(Model.FromPage == "starred" ? "?from=starred" : "")">&laquo;<span class="pagination-info"> Prev</span> (#@(Model.PreviousPhotoNumber) of @(Model.PhotoCount))</a>
        }
        @if (Model.NextPhoto != null) {
        <a title="Next page of photos" href="/gallery/@(Model.NextPhoto.PhotoId)/@(Model.NextPhoto.Filename)@(Model.FromPage == "starred" ? "?from=starred" : "")"><span class="pagination-info">Next </span>(#@(Model.NextPhotoNumber) of @(Model.PhotoCount)) &raquo;</a>
        }
    </div>

    <details>
        <summary>Image details</summary>
        <div>Source: @Model.Photo.Source</div>
        <div>File: @Model.Photo.Filename</div>
        <div>Size: @Model.Photo.SizeInfo</div>
        <div>Taken: @Model.Photo.DateTaken</div>
        <div>File time: @Model.Photo.FileCreationDate</div>
        <div>Starred: @(Model.Photo.IsStarred ? "yes" : "no")</div>
    </details>

</article>