@model SmallPhotos.Web.Model.Gallery.IndexViewModel

@section Scripts {
<script type="text/javascript">
    $(function() {
        $(window).on('resize', fullSizeImage);
        fullSizeImage();
    });
</script>
}


<style>

.pagination {
  margin-top: 10px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #6be1ff;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #f86bff;
}

</style>

<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    <div>Taken: @Model.Photo.DateTaken</div>

    <div class="pagination">
        <a title="Back to photo thumbnails" href="/?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo;<span class="pagination-info"> Thumbnails</span></a>
        @if (Model.PreviousPhoto != null) {
        <a title="Previous page of photos" href="/gallery/@(Model.PreviousPhoto.PhotoId)/@(Model.PreviousPhoto.Filename)">&laquo;<span class="pagination-info"> Prev</span> (#@(Model.PreviousPhotoNumber) of @(Model.PhotoCount))</a>
        }
        @if (Model.NextPhoto != null) {
        <a title="Next page of photos" href="/gallery/@(Model.NextPhoto.PhotoId)/@(Model.NextPhoto.Filename)"><span class="pagination-info">Next </span>(#@(Model.NextPhotoNumber) of @(Model.PhotoCount)) &raquo;</a>
        }
    </div>

    <p>
        <img id="fullimg" src="/photo/@(Model.Photo.PhotoId)/@(Model.Photo.Filename)" />
    </p>

    <div class="pagination">
        <a title="Back to photo thumbnails" href="/?photoId=@(Model.Photo.PhotoId)#@(Model.Photo.PhotoId).@(Model.Photo.Filename)">&lsaquo;<span class="pagination-info"> Thumbnails</span></a>
        @if (Model.PreviousPhoto != null) {
        <a title="Previous page of photos" href="/gallery/@(Model.PreviousPhoto.PhotoId)/@(Model.PreviousPhoto.Filename)">&laquo;<span class="pagination-info"> Prev</span> (#@(Model.PreviousPhotoNumber) of @(Model.PhotoCount))</a>
        }
        @if (Model.NextPhoto != null) {
        <a title="Next page of photos" href="/gallery/@(Model.NextPhoto.PhotoId)/@(Model.NextPhoto.Filename)"><span class="pagination-info">Next </span>(#@(Model.NextPhotoNumber) of @(Model.PhotoCount)) &raquo;</a>
        }
    </div>

    <details>
        <summary>Image details</summary>
        <div>Source: @Model.Photo.Source</div>
        <div>File: @Model.Photo.Filename</div>
        <div>Size: @Model.Photo.SizeInfo</div>
        <div>Taken: @Model.Photo.DateTaken</div>
        <div>File time: @Model.Photo.FileCreationDate</div>
    </details>

</article>