@model SmallPhotos.Web.Model.Home.IndexViewModel

<style>

.thumbnails {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails > div {
  margin: 10px;
}

.pagination {
  margin-top: 10px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.pagination-active {
  background-color: #6be1ff;
  color: white;
}

.pagination a:hover:not(.pagination-active) {
    background-color: #f86bff;
}

</style>


<aside>
    <nav>
        <ul>
            <li><a href="/">Nav link 1</a></li>
            <li><a href="/">Nav link 2</a></li>
        </ul>
    </nav>
</aside>

<article>
    @if (Model.Photos.Any()) {
        <div>@Model.ImageDateRange</div>

        @if (Model.Pagination.PageCount > 1) {
            <div class="pagination">
                @if (Model.Pagination.PageNumber > 1) {
                <a title="Go to previous page of photos" href="/?pageNumber=@(Model.Pagination.PageNumber - 1)">&laquo;</a>
                }
                @foreach (var pg in Model.Pagination.Pages) {
                @if (pg.IsSelected) {
                <a class="pagination-active">@pg.PageNumber</a>
                } else {
                <a title="Go to photo page @pg.PageNumber" href="/?pageNumber=@pg.PageNumber">@pg.PageNumber</a>
                }
                @if (pg.IsNextPageSkipped) {
                <span>&bull;&bull;</span>
                }
                }
                @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
                <a title="Go to the next page of photos" href="/?pageNumber=@(Model.Pagination.PageNumber + 1)">&raquo;</a>
                }
            </div>
        }

        <div class="thumbnails">
        @foreach(var photo in Model.Photos) {
            <div><a title="Taken: @photo.DateTaken" href="/gallery/@(photo.PhotoId)/@(photo.Filename)" name="@(photo.PhotoId).@(photo.Filename)"><img src="/photo/thumbnail/@(Model.ThumbnailSize)/@(photo.PhotoId)/@(photo.Filename)" width="@(photo.Size.Width)" height="@(photo.Size.Height)" loading="lazy" /></a></div>
        }
        </div>

        @if (Model.Pagination.PageCount > 1) {
            <div class="pagination">
                @if (Model.Pagination.PageNumber > 1) {
                <a title="Go to previous page of photos" href="/?pageNumber=@(Model.Pagination.PageNumber - 1)">&laquo;</a>
                }
                @foreach (var pg in Model.Pagination.Pages) {
                @if (pg.IsSelected) {
                <a class="pagination-active">@pg.PageNumber</a>
                } else {
                <a title="Go to photo page @pg.PageNumber" href="/?pageNumber=@pg.PageNumber">@pg.PageNumber</a>
                }
                @if (pg.IsNextPageSkipped) {
                <span>&bull;&bull;</span>
                }
                }
                @if (Model.Pagination.PageNumber < Model.Pagination.PageCount) {
                <a title="Go to the next page of photos" href="/?pageNumber=@(Model.Pagination.PageNumber + 1)">&raquo;</a>
                }
            </div>
        }
    } else {
        <p>
        <text>You have no photos. Add a collection to your library in your <a href="/profile">profile</a>.</text>
        </p>
    }
</article>