@model SmallPhotos.Web.Model.Profile.IndexViewModel

<article>
    <h3>Folders</h3>
    <p>
    @if (Model.Folders.Any()) {
    <ul>
        @foreach(var folder in Model.Folders) {
            <li>
                <div>
                    @folder.Folder
                    @if (folder.Recursive) {
                        <span title="Includes photos from this directory and all sub-folders">(+ sub-folders)</span>
                    }
                </div>
                <form method="post" action="/profile/folder/delete/@folder.AlbumSourceId">
                @Html.AntiForgeryToken()
                <button title="Delete this folder as a source of photos for your album" data-confirm="Are you sure you want to delete this folder?"><img src="/images/close.png" height="15" width="15" /> Delete</button>
                </form>
            </li>
        }
    </ul>
    }

    <form method="post" action="/profile/folder/add">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Add album folder</legend>
            <div>
                <label for="smp-add-folder">Folder path:</label>
                <input type="text" id="smp-add-folder" name="folder" />
            </div>
            <div>
                <label for="smp-add-folder-recursive">Include sub-folders:</label>
                <input type="checkbox" id="smp-add-folder-recursive" name="folderrecursive" value="true" />
            </div>
            <div>
                <label></label>
                <button type="submit" data-depends="input.smp-add-folder">Add</button>
            </div>
        </fieldset>            
    </form>

    <form method="post" action="/profile/dropbox/add">
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Add Dropbox folder</legend>
            @if (!string.IsNullOrEmpty(Model.DropboxAccessToken) && !string.IsNullOrEmpty(Model.DropboxRefreshToken)) {
            <div>
                <label for="smp-add-dropbox-folder">Dropbox folder path:</label>
                <input type="text" id="smp-add-dropbox-folder" name="folder" />
            </div>
            <div>
                <label for="smp-add-dropbox-folder-recursive">Include sub-folders:</label>
                <input type="checkbox" id="smp-add-dropbox-folder-recursive" name="folderrecursive" value="true" />
            </div>
            <div>
                <label></label>
                <button type="submit" data-depends="input.smp-add-dropbox-folder">Add</button>
            </div>
            <input type="hidden" name="accesstoken" value="@Model.DropboxAccessToken" />
            <input type="hidden" name="refreshtoken" value="@Model.DropboxRefreshToken" />
            } else {
            <div>
                <label></label>
                <button type="submit" data-depends="input.smp-add-dropbox-folder">Connect...</button>
            </div>
            }
        </fieldset>            
    </form>
    </p>
    <h3>View options</h3>
    <p>
    <form method="post" action="/profile/viewoptions">
        @Html.AntiForgeryToken()
        <div>
            <label for="smp-image=size">Gallery image preview size:</label>
            <select id="smp-image-size" name="thumbnailsize">
                <option selected="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Small)" value="@((int)SmallPhotos.Model.ThumbnailSize.Small)">Small</option>
                <option selected="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Medium)" value="@((int)SmallPhotos.Model.ThumbnailSize.Medium)">Medium</option>
                <option selected="@(Model.ThumbnailSize == SmallPhotos.Model.ThumbnailSize.Large)" value="@((int)SmallPhotos.Model.ThumbnailSize.Large)">Large</option>
            </select>
        </div>
        <div>
            <label for="smp-image=pagesize">Gallery images per page:</label>
            <select id="smp-image-pagesize" name="pagesize">
                <option selected="@(Model.GalleryImagePageSize == 20)">20</option>
                <option selected="@(Model.GalleryImagePageSize == 50)">50</option>
                <option selected="@(Model.GalleryImagePageSize == 100)">100</option>
                <option selected="@(Model.GalleryImagePageSize == 250)">250</option>
                <option selected="@(Model.GalleryImagePageSize == 500)">500</option>
            </select>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>
    </p>
</article>