@model SmallPhotos.Web.Model.BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="16x16" href="/images/smp.png">
    <link rel="apple-touch-icon" href="/images/smp.png" sizes="32x32" />
    <title>Small:Photos</title>

    <environment names="Development">
        <link rel="stylesheet" href="/css/smallphotos.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/smallphotos.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar-header">
            <a href="/">
                <img src="/images/smp.png" height="38" width="38" />
                <span>
                    Small:Photos
                </span>
            </a>
        </nav>
        <nav class="navbar-main">
            <div class="navbar-nav">
                @if (Model.IsLoggedIn) {
                    <span><form action="/signout" method="post">
                    @Html.AntiForgeryToken()
                    <button>Logout</button>
                    </form></span>
                }
            </div>
            <div>
                <img class="nav-show" src="/images/add.png" height="24" width="24" />
                <img class="nav-close" src="/images/close.png" height="24" width="24" />
            </div>
        </nav>
    </header>

    <main>
      @RenderBody()
    </main>

    <footer class="footer ">
        &#169; @DateTime.Today.Year Small:Photos
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <environment names="Development">
        <script src="/js/smallphotos.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="/js/smallphotos.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        $(function() { smpInitialise() })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
